@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}


.sidebar {
    position: fixed;
    height: 100%;
    width: 260px;
    background: #323236;
    padding: 15px;
    z-index: 99;
}

.logo {
    font-size: 25px;
    padding: 0 15px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;

}

.menu-content::-webkit-scrollbar {
    display: none;
}

.menu-items {
    height: 100%;
    width: 100%;
    list-style: none;
    transition: all 0.4s ease;
}

.submenu-active .menu-items {
    transform: translateX(-56%);
}

.menu-title {
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
}

.item a,
.submenu-item {
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
}

.item i {
    font-size: 12px;
}

.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
    background: rgba(255, 255, 255, 0.1);
}

.submenu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.submenu {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 26px);
    height: calc(100% + 100vh);
    background:#323236;
    display: none;
}

.show-submenu~.submenu {
    display: block;
}

.submenu .menu-title {
    border-radius: 12px;
    cursor: pointer;
}

.submenu .menu-title i {
    margin-right: 10px;
}

/* Barra de navegação */
.navbar,
.main {
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    z-index: 1000;
    background-color: #292929;
}

.sidebar.close~.navbar,
.sidebar.close~.main {
    left: 0;
    width: 100%;
}


.navbar {
    position: fixed;
    color: #fff;
    padding: 15px 25px;
    font-size: 20px;
    background: #3D3D3D;
    cursor: pointer;
    height: 100px;
}

.navbar #sidebar-close {
    cursor: pointer;
}

.itemPifados {
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
    background-color: rgba(146, 241, 106, 0.907);
}

.itemPifados:hover {
    background: rgba(82, 82, 82, 0.907);
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
    background: #272727;
    top: 100px;
    height: 100%;


}

.main h1 {
    color: #48474e;
    font-size: 40px;
    text-align: center;
}

.PifonLogo {
    width: 100px;
    height: 100px;
}

.searchbar {
    width: 400px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    position: relative;
    left: 300px;
    bottom: 25px;
    background-color: #45444f;
    border-color: none;

}

.searchbar a {
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 50 30px;
    transition: a .55s ease;

}

.searchbar a:hover {
    color: var(--main-color);

}

.searchButton {
    position: relative;
    height: 50px;
    width: 50px;
    left: 10px;
    position: center;
    bottom: 22px;
    cursor: default;
}


.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.header-icons {
    display: flex;
    flex-direction: row;
    right: 0;
    top: 35px;
    position: fixed;
    color: #ffffff;
}
#folha{
    color: #008b45;
}

.header-icons i {
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;

}

.header-icons i:hover {
    transform: translateY(-5px);
    color: var(--main-color);
}

/* Cabeçalho DOAR */
.recado-doar {
    transform: scale(1);

}

#reciclagem {
    transform: scale(0.5);
}

#pifados {
    font-size: 70px;
    color: white;
}

#textinho-pifados {
    color: white;
    font-size: 30px;
}

#recado-pifados {
    color: wheat;
    font-size: 50px;
    font-weight: bolder;
}

#reciclagem {
    font-size: 10px;
}

#saiba-mais-button {
    font-size: 50px;
    margin-bottom: 50px;
    background-color: #272727;
    border-color: #18DF56;
    color: white;
    width: 400px;
    height: 79px;
    border-radius: 50px;
}

#saiba-mais-button:hover {
    color: #aba7a7;

}

/* Cartões */
.card {
    background-color: #3d3d3d;
    border: 1px solid #008b45;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 95%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.card-button {
    background-color: #18DF56;
    width: 180px;
    height: 90px;
    border-radius: 10px;
    border-color: #18DF56;

}
.card-button:hover{
    background-color: #16b548;
    color: #cfc7c7; 
    border-color: #16b548;
}

.card-image,
.img {
    flex: 1;
    margin-right: 20px;
    height: 150px;
    background: #dddddd00;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    height: 0%;

}

.card-details {
    flex: 2;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.card-price {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 10px;
}

/* Responsividade dos cartões */
@media only screen and (max-width: 600px) {
    .card {
        flex-direction: column;
    }

    .card-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* Carrinho */
#cart-window {
    position: fixed;
    bottom: -500px;
    right: 20px;
    width: 400px;
    height: 500px;
    background-color: #5f5e5e;
    z-index: 998;
    transition: all 0.5s ease-in-out;
    border-radius: 6%;
    /* Ocultar a janela do carrinho quando não estiver visível */
    visibility: hidden;
    opacity: 0;
    top: 0;
}

/*janelo do carrinho que abre quando clica*/
#cart-window.show {
    bottom: 5px;
    visibility: visible;
    opacity: 1;
    size: 400px;
}

#carrinho_vazio {
    color: #fff;
    text-align: center;
    padding-top: 70%;
    font-size: 25px;
    
}



/* perfil */
#perfil-window {
    position: fixed;
    bottom: -500px;
    right: 20px;
    width: 200px;
    height: 300px;
    background-color: #5f5e5e;
    z-index: 998;
    transition: all 0.5s ease-in-out;
    border-radius: 6%;
    /* Ocultar a janela do carrinho quando não estiver visível */
    visibility: hidden;
    opacity: 0;
    top: 0;
    padding: 5%;
    margin: 2%;
    margin-right: -1%

}

/*janelo do perfil que abre quando clica*/
#perfil-window.show {
    bottom: 5px;
    visibility: visible;
    opacity: 1;
    size: 400px;
}



#perfil1{
    background-color: #00f67b;
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    left: 25%;
 
}
#perfil2{
    background-color: #0aff4f;
    position: absolute;
    border-radius: 20px;
    margin-top: 80px;
    padding: 10px;
    width: 100px;
    left: 25%;
   
   
    
}
#folha {
    text-decoration: none;
    color: green;
}



  
