<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pif-Ados</title>
    <link rel="stylesheet" href="../css/pifados.css" />

    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!--Script-->
    <link rel="stylesheet" href="../css/campanha2.css">
</head>

<body>
    <nav class="sidebar">
        <a href="#" class="logo"></a>

        <img class="PifonLogo" src="../img/Icon_Logo.png" alt="pif on">

        <div class="menu-content">
            <ul class="menu-items">
                <div class="menu-title">CATEGORIAS</div>

                <li class="item">
                    <a href="#">Mesas</a>
                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Acessorios</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-chevron-left"></i>
                            Acessorios
                        </div>
                        <li class="item">
                            <a href="#">Perifericos</a>
                        </li>
                        <li class="item">
                            <a href="#">Cadeiras</a>
                        </li>
                        <li class="item">
                            <a href="#">Monitores</a>
                        </li>

                        <li class="item">
                            <a href="#">Mouse</a>
                        </li>

                        <li class="item">
                            <a href="#">Teclados</a>
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <div class="submenu-item">
                        <span>Computadores</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-chevron-left"></i>
                            Computadores
                        </div>
                        <li class="item">
                            <a href="#">Notbooks</a>
                        </li>
                        <li class="item">
                            <a href="#">Descktop</a>
                        </li>

                        <li class="item">
                            <a href="#">Placa de video</a>
                        </li>

                        <li class="item">
                            <a href="#">Placa mãe</a>
                        </li>

                </li>

            </ul>
            <li class="itemPifados">
                <a href="/Front-End/src/components/Pifados/html/Pifados.html">Pifados</a>
            </li>
        </div>
    </nav>

    <nav class="navbar">
        <i class="fa-solid fa-bars" id="sidebar-close"></i>
        <form action="#" method="pt">

            <!--navegação-->
            <input class="searchbar" tyoe="text" name="search" id="search" placeholder="Faça sua Busca" required>
            <span class="searchButton">
                <i class='bx bx-search'></i>
            </span>

            <div class="header-icons">
              <a href="../../Campanha/html/campanha2.html"><i id="folha" class='bx bxs-leaf'></i></a> 
                <div id="fav"><i class='bx bxs-heart'></i></div>
                <i class='bx bx-cart' id="carrinho-icon"></i>
                <i class='bx bx-headphone'></i>
                <div id="menu"><i class='bx bx-user-circle' id="perfil-icon"></i></div>

            </div><!--header-icons-->

    </nav>
    </form>

    <main class="main">
        
        <div class="campanhaPifon">
            <h1>Campanha</h1>
            <p>
                Pouco se fala sobre o desperdício de lixo eletronico no Brasil , estima-se que a produçao no ano passado
            foi
            de 2,14 milhões de tonelada de residuos (eletroeletrônicos), riscos de exposiçâo a mais de mil
            substâncias
            nocivas, como chumbo, mercúrio e níquel.A partir dessa análise a Pif-On decidiu implementar um projeto
            sustentável visando combater o desperdício e descarte de lixo eletrônico , contratando os serviços na
            redução e reutilização de peças de descarte eletrônico para ter um maior aproveitamento dos desíduos e
            consequentemente vendas das peças recicladas.
            </p>
        </div>

    </div>

    <div class="campanhaPifados">
        <img src="../img/pifados1.png" class="imgpif" width="350px">

        <img src="../img/pifados.png" class="imgpif" width="350px">

        <img src="../img/pifados3.png" class="imgpif" width="350px">
    </div>

    <div class="campanhaMarketPlace">
        
            <div class="logomeio">
                <img src="../img/linhadomeio.png" class="logomeio">
        
            </div>
        
            <div class="imgipfados2">
                <img src="../img/pifados1.png" class="imgipfados2" width="350px">
            </div>

            
            <div class="textochopper">
                <p>Um marketplace da comunidade em uma loja online permite que os usuários comprem e vendam produtos usados
                    entre si, por meio de ofertas e demandas. Para utilizar a plataforma, é necessário criar uma conta e
                    fazer o pedido pelo site. Essa opção de troca é uma excelente forma de economizar dinheiro e contribuir
                    para a sustentabilidade do planeta.</p></br></br></br></br>
                </div>

                <div class="chopper">
                    <img src="../img/14.png" class="chopper"></div>

                <div class="logomeio">
                    <img src="../img/linhadomeio.png" class="logomeio">
            
                </div>
    

    </div>


    <div class="imgempifados3">
        <img src="../img/pifados.png" class="imgempifados3" width="350px">

    </div>
    <div class="imgemfinal">
        <div class="texto2">
            <p>Se você tem algum equipamento eletroeletrônico que não usa mais, não o jogue fora! Doe para a nossa
                campanha sustentável Pif-ados. Receberemos doações equipamentos eletrônicos, e transformaremos essas
                doações em equipamentos novos para venda ou em equipamentos reciclados. Em troca, você receberá
                Pifcoins, a moeda da nossa loja. Juntos, podemos contribuir para um mundo mais sustentável e
                tecnologicamente avançado.
            </p>
            <img class="pifados-imagem" src="../img/16.png" class="imgemfinal"></div>
        </div>
    </div>

        <!-- janela carrinho -->
        <div id="cart-window">
            <p id="carrinho_vazio">Carrinho Vazio <i class='bx bx-cart'></i></p>
        </div>

        <!-- janela perfil -->
        <div id="perfil-window">
            <p id="carrinho_vazio">
            <div id="perfil1"><labe id="perfilI">Cadastro</label></div>
        
            <div id="perfil2"><label id="perfilII">Login</label></div>
            </i></p>
        </div>
            
        <footer>
            <div class="header-icons"><i class='bx bxl-whatsapp'>888888888</i></div>
            <img class="footercell" src="../img/telefone-pifon.png" alt="">
            <span id="spanFooter">876-8976-8752 </span>
            <img class="footercell" src="../img/instagram-pifon.png" alt="">
            <span id="spanFooter">@Pif_on</span>
            <img class="footercell" src="../img/email-pifon.png" alt="">
            <span id="spanFooter">pifados@groupPifon.com</span>
        </footer>
            
    </main>

    <script src="../js/carrinho.js"></script>
    <script src="../js/campanha2.js"></script>
    <script src="../js/perfil.js"></script>

</body>

</html>