<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marketing-pleac</title>
    <link rel="stylesheet" href="../css/fone.css" />
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!--Script-->
    <script src="../js/carrossel2.js"></script>
</head>

<body>
    
    <nav class="sidebar">
        <a href="#" class="logo"></a>

        <img class="PifonLogo" src="../img/Icon_Logo.png" alt="pif on">

        <div class="menu-content">
            <ul class="menu-items">
                <div class="menu-title">CATEGORIAS</div>

                <li class="item">
                    <a href="#">Mesas</a>
                </li>

                <li class="item">
                    <div class="submenu-item">
                        <span>Acessorios</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-chevron-left"></i>
                            Acessorios
                        </div>
                        <li class="item">
                            <a href="#">Perifericos</a>
                        </li>
                        <li class="item">
                            <a href="#">Cadeiras</a>
                        </li>
                        <li class="item">
                            <a href="#">Monitores</a>
                        </li>

                        <li class="item">
                            <a href="#">Mouse</a>
                        </li>

                        <li class="item">
                            <a href="#">Teclados</a>
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <div class="submenu-item">
                        <span>Computadores</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>

                    <ul class="menu-items submenu">
                        <div class="menu-title">
                            <i class="fa-solid fa-chevron-left"></i>
                            Computadores
                        </div>
                        <li class="item">
                            <a href="#">Notbooks</a>
                        </li>
                        <li class="item">
                            <a href="#">Descktop</a>
                        </li>

                        <li class="item">
                            <a href="#">Placa de video</a>
                        </li>

                        <li class="item">
                            <a href="#">Placa mãe</a>
                        </li>

                </li>

            </ul>
            <li class="itemPifados">
                <a href="/Front-End/src/components/Pifados/html/Pifados.html">Pifados</a>
            </li>
        </div>
    </nav>

    <nav class="navbar">
        <i class="fa-solid fa-bars" id="sidebar-close"></i>
        <form action="#" method="pt">

            <!--navegação-->
            <input class="searchbar" tyoe="text" name="search" id="search" placeholder="Faça sua Busca" required>
            <span class="searchButton">
                <i class='bx bx-search'></i>
            </span>

            <div class="header-icons">

                <a href="../../Campanha/html/campanha2.html"><i id="folha"
                        class='bx bxs-leaf'></i></a>
                >>>>>>> c5237f90cd1ee9ae2982c19cac2c84c72eda3f37
                <div id="fav"><i class='bx bxs-heart'></i></div>
                <i class='bx bx-cart'></i>
                <div id="menu"><i class='bx bx-user-circle'></i></div>

                <i class='bx bx-headphone'></i>
            </div><!--header-icons-->

    </nav>
    </form>

    <main class="main">
        <!--carrossel-->
        <div class="container-slider">

            <div class="container-slider-images">
                <p id="titulo-mouse">Fone Gamer Redragon Hero Preto 55mm-H530-p</p>
                <p id="descricao-produto">Descrição do produto:</p>
                <p id="texto-produto">Almofoadas e revestimento interno do arco em tecido para proporcionar o máximo de
                    conforto <br> Microfone com redução re ruído de fundo para captação clara e limpa.<br>Controladora
                    integrada para maior praticidade durante o uso <br>Som estéreo de alta qualidade pelos drivers de
                    55mm
                <p id="a-vista">Á vista por:</p>
                <p id="valor">R$229,90</p>
                <p id="desconto">15% de desconto no pix.</p>
                <p id="valor2">R$264,38</p>
                <p id="juros">Em até 12x de <span style="color:red">R$22,31</span>.</p>

                <p id="unidade">22 Uni. restantes</p>

                <img class="estrela_verde" src="../img/estrela_verde.png" alt="estrela verde">
                <img class="estrela_verde2" src="../img/estrela_verde.png" alt="estrela verde">
                <img class="estrela_verde3" src="../img/estrela_verde.png" alt="estrela verde">
                <img class="estrela_verde4" src="../img/estrela_verde.png" alt="estrela verde">
                <img class="estrela_vazia" src="../img/estrela_vazia.png" alt="">
                <img id="caixa" src="../img/caixa.png" alt="">

                <a id="comprar" href="#"> <b>Comprar agora</b></a>

                <img id="carrinho" src="../img/carrinho.png" alt="">

                <a id="marketing" href="#"><b>Adicionar ao carrinho</b></a>

                <img class="akko" src="../img/redragon.png" alt="logo_akko">
                <img class="coracao" src="../img/coracao.png" alt="coração_branco">
                <img class="aviao" src="../img/aviao.png" alt="Avião de papel">

                <a class="nome_pif" href="">Pif-On</a>

                </p>
                <img src="../img/gabinete.produto3.png" alt="gabinete" class="slider on">
                <img src="../img/Monitor.produto3.png" alt="Monitor" class="slider">
                <img src="../img/mouse.produto1.png" alt="mouse" class="slider">
                <img src="../img/teclado.produto2.png" alt="teclado" class="slider">

                <img id="mouse1" src="../img/fone1.png" alt="">
                <img id="mouse2" src="../img/fone2.png" alt="">
                <img id="mouse3" src="../img/fone3.png" alt="">

                <div class="mouse-principal">
                    <img src="../img/fone1.png" alt="Imagem" />
                </div>

                <div class="vertical-line"></div>

                <a id="nome_marketing" href="#">Marketplace</a>
                <p class="oferta_marketing">Comprar</p>
                <p class="oferta1">Oferta</p>
                <p class="oferta2">Oferta</p>
                <p class="oferta3">Oferta</p>

                <p id="nome_vender">Vender</p>
                <p class="vender1">Oferta</p>
                <p class="vender2">Oferta</p>
                <p class="vender3">Oferta</p>

                <p class="atividades_recentes"><b>Atividades recentes</b></p>
                <img id="user1" src="../img/user1.png" alt="usuario1">
                <img id="user2" src="../img/user1.png" alt="usuario2">
                <img id="user3" src="../img/user1.png" alt="usuario3">

                <p class="coment1"><b>Lucas acaba de vender seu fone</b></p>
                <p class="coment2"><b>Aline Maria acaba de comprar um fone por R$60</b></p>
                <p class="coment3"><b>Fernando acaba de anunciar por R$388,00</b></p>

                <img class="mais" src="../img/mais.png" alt="">
            </div>

        </div>
    </main>







    <script src="../js/marketing.js"></script>
</body>

</html>